name: Wellness project healthcheck

on:
  schedule:
    - cron: '0 0 * * MON' # “At 00:00 on every Monday.”

jobs:
  healthcheck:
    runs-on: ubuntu-18.04
    steps:
      - name: Check the deployed service URL
        uses: jtalk/url-health-check-action@v1.4
        with:
          url: https://jane-wellness-app.herokuapp.com/
          follow-redirect: no
          max-attempts: 3
          retry-delay: 5s
